﻿<div ng-controller="CompanyDetailController as company">
  <div ng-click="company.switchStatus()" class="alert alert-dismissible fade in"
       ng-class="company.error ? 'alert-danger' : 'alert-success'" role="alert" ng-show="company.status">
   <strong>{{company.message}}</strong>
</div>
<h3>Компания: {{company.current.name}}</h3>
<hr>
<ul class="nav nav-pills">
  <li class="nav-item">
    <a href ng-click="company.selectTab(1)"  class="nav-link"  ng-class="{ active:company.isSelected(1) }">Общие данные</a>
  </li>
  <li class="nav-item">
    <a href ng-click="company.selectTab(2)"  class="nav-link"  ng-class="{ active:company.isSelected(2) }">Договора</a>
  </li>
  <li class="nav-item">
       <a href ng-click="company.selectTab(3)" class="nav-link" ng-class="{ active:company.isSelected(3) }">Счета</a>
  </li>
</ul>

<!-- Tab panes -->
<div>
  <hr>
  <div ng-show="company.tab === 1">
  <form name="companyForm">
     <div class="form-group row">
    <label for="inputName" class="col-md-2 control-label">Название компании</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="inputName" ng-model="company.current.name" placeholder="Название компании" required>
    </div>
  </div>
     
  <div class="form-group row">
    <label for="inputINN" class="col-md-2 control-label">ИНН</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="inputINN" ng-pattern="company.digitOnly"
      ng-model="company.current.inn"  ng-minlength="10" ng-maxlength="12" maxlength="12" placeholder="10 или 12 цифр" required>
    </div>
  </div>
  
  <div class="form-group row">
    <label for="inputKPP" class="col-md-2 control-label">КПП</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="inputKPP" ng-pattern="company.digitOnly"
      ng-model="company.current.kpp" ng-minlength="9" ng-maxlength="9" maxlength="9" placeholder="9 цифр">
    </div>
  </div>
  
  <div class="form-group row">
    <label for="inputTel" class="col-md-2 control-label">Телефон</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="inputTel" ng-pattern="company.digitOnly"
             ng-model="company.current.tel"  ng-maxlength="11" maxlength="11" placeholder="11 цифр с кодом страны" required>
    </div>
  </div>
    
  <div class="form-group row">
    <label for="inputPosition" class="col-md-2 control-label">Должность подписанта договора</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="inputPosition" ng-model="company.current.contract_position" placeholder="должность" required>
    </div>
  </div>
  
   <div class="form-group row">
    <label for="inputContractSign" class="col-md-2 control-label">Подписант договора</label>
    <div class="col-md-6">
      <input type="text"  ng-model='company.current.contract_sign' id="inputContractSign" class="form-control" placeholder="Ф.И.О" required>
    </div>
     
  </div>
   
   <div class="form-group row">
    <label for="Boss" class="col-md-2 control-label">Руководитель</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="Boss" ng-model="company.current.boss" placeholder="Ф.И.О руководителя">
    </div>
  </div>   
  
  <div class="form-group row">
    <div class="col-sm-offset-2 col-sm-10">
    <button ng-disabled="companyForm.$invalid" ng-click="company.companyUpdate(company.current)" type="submit" class="btn btn-secondary">Сохранить</button>
    <button ng-click="company.companyCancel()" type="submit" class="btn btn-secondary">Отмена</button>
    </div>
  </div>

</form>
</div>
  
<div ng-show="company.tab === 2">
<h3>Список договоров</h3>
<div class="pull-xs-left"><a href data-toggle="modal" data-target="#addContract"
ng-click="(company.contract = company.contract) ? company.error : (company.contract = {})" title="Add new contract">
<i class="fa fa-plus"></i> Добавить</a></div>
<div class="pull-xs-right"><input class="form-control" ng-model="searchText" placeholder="Фильтр"></div>
 <table class="table table-sm">
   <thead>
    <tr class="table-active">
    <th># Договора</th>
    <th>Дата подписания</th>
    <th>Дата окончания</th>
    <th>Подписант</th>
    <th></th>
 </thead>
  <tbody>
<tr ng-repeat="contract in company.contracts | orderBy:'id' | filter: searchText">
    <th scope="row"><a href="/#/contracts/{{contract.company_id}}/{{contract.id}}" title="edit">{{contract.name}}</a></td>
    <td>{{contract.date_sign | date}}</td>
    <td>{{contract.date_end  | date}}</td>
    <td>{{contract.sign_fio}}</td>
    <td><div confirm-delete on-confirm="company.contractDelete(contract.id)"></div></td>
  </tr>
  </tbody>
</table>
<!-- new contract -->
<div class="modal fade in" id="addContract" tabindex="-1" role="dialog" aria-labelledby="addContractLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <form name="contractForm" novalidate>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="myModalLabel">Новый договор №: {{company.contract.name}}</h4>
    </div>
    <div class="modal-body">
      
    <div class="form-group row">
    <label for="inputName" class="col-md-4 control-label">Номер договора</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="inputName" ng-model="company.contract.name" placeholder="Номер договора" maxlength="20" required>
    </div>
  </div>
     
  <div class="form-group row">
    <label for="inputINN" class="col-md-4 control-label">Дата подписания:</label>
    <div class="col-md-6">
      <input type="date" class="form-control" id="inputDateSign" ng-model="company.contract.date_sign" required>
    </div>
  </div>
  
  <div class="form-group row">
    <label for="inputKPP" class="col-md-4 control-label">Дата окончания:</label>
    <div class="col-md-6">
      <input type="date" class="form-control" id="inputDateEnd" ng-model="company.contract.date_end" required>
    </div>
  </div>
  
  <div class="form-group row">
    <label for="inputTel" class="col-md-4 control-label">Автопролонгирование:</label>
    <div class="col-md-6">
      <input type="checkbox" class="form-control" id="inputTel" ng-model="company.contract.auto_long">
    </div>
  </div>
 
   <div class="form-group row">
    <label for="inputKPP" class="col-md-4 control-label">Должность подписанта:</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="inputSignPos" ng-model="company.contract.sign_position" maxlength="50" required>
    </div>
  </div>
   
  <div class="form-group row">
    <label for="inputKPP" class="col-md-4 control-label">Подписант договора:</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="inputFIO" ng-model="company.contract.sign_fio" maxlength="99" required>
    </div>
  </div>
  
   <div class="form-group row">
    <label for="inputCompany" class="col-md-4 control-label">Счет</label>
    <div class="col-md-6">
      <select class="form-control" id="inputAccount"
              ng-model="company.contract.bank_id"  ng-options="bank.id as bank.name for bank in  company.banks" required>
      </select>
    </div>
  </div>
  
     </div>
      <div class="modal-footer">
         <button ng-disabled="contractForm.$invalid" ng-click="company.contractAdd(company.contract)" type="submit" class="btn btn-success" data-dismiss="modal">Сохранить</button>
         <button ng-click="company.contractCancel()" type="submit" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- /new contract -->

</div>

<div ng-show="company.tab === 3">
  <h3>Список счетов</h3>
<div class="pull-xs-left"><a href data-toggle="modal" ng-click="(company.bank = company.bank) ?  company.error : (company.bank = {})" data-target="#addAccount" title="Add new account">
<i class="fa fa-plus"></i> Добавить</a></div>
<div class="pull-xs-right"><input class="form-control" ng-model="searchText" placeholder="Фильтр"></div>
<table class="table table-sm">
   <thead>
    <tr class="table-active">
      <th>Название банка</th>
      <th>БИК</th>
      <th>К/с</th>
      <th>Р/с</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
 <tr ng-repeat="account in company.banks | orderBy:'id' | filter: searchText">
    <th scope="row"><a href ng-click="company.bank = account" data-toggle="modal" data-target="#editAccount">{{account.name}}</a></th>
    <td>{{account.bik}}</td>
    <td>{{account.kor}}</td>
    <td>{{account.rasch}}</td>
    <td><div confirm-delete on-confirm="company.accountDelete(account.id)"></div></td>
  </tr>
  </tbody>
</table>
<!-- edit account -->
<div class="modal fade in" id="editAccount" tabindex="-1" role="dialog" aria-labelledby="editAccountLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <form name="accountForm" novalidate>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="myModalLabel">Счет в банке: {{company.bank.name}}</h4>
    </div>
    <div class="modal-body">
      
    <div class="form-group row">
    <label for="inputName" class="col-md-2 control-label">Название банка</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="inputName" ng-model="company.bank.name" placeholder="Название банка" required>
    </div>
  </div>
     
  <div class="form-group row">
    <label for="inputINN" class="col-md-2 control-label">БИК</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="inputINN" ng-pattern="company.digitOnly"
             ng-model="company.bank.bik" placeholder="БИК" ng-minlength="9" ng-maxlength="9" maxlength="9" required>
    </div>
  </div>
  
  <div class="form-group row">
    <label for="inputKPP" class="col-md-2 control-label">Корр. счет</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="inputKPP" ng-pattern="company.digitOnly"
             ng-model="company.bank.kor" placeholder="20 цифр" ng-minlength="20" ng-maxlength="20" maxlength="20" required>
    </div>
  </div>
  
  <div class="form-group row">
    <label for="inputTel" class="col-md-2 control-label">Расч. счет</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="inputTel" ng-pattern="company.digitOnly"
             ng-model="company.bank.rasch" ng-minlength="20" ng-maxlength="20" maxlength="20" placeholder="20 цифр" required>
    </div>
  </div>
    
      </div>
      <div class="modal-footer">
         <button ng-disabled="accountForm.$invalid" ng-click="company.accountEdit(company.bank)" type="submit" class="btn btn-secondary" data-dismiss="modal">Сохранить</button>
         <button ng-click="company.accountCancel()" type="submit" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- /edit account -->
<!-- new account -->
<div class="modal fade in" id="addAccount" tabindex="-1" role="dialog" aria-labelledby="addAccountLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <form name="accountForm" novalidate>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="myModalLabel">Новый счет в банке: {{company.bank.name}}</h4>
    </div>
    <div class="modal-body">
      
    <div class="form-group row">
    <label for="inputName" class="col-md-2 control-label">Название банка</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="inputName" ng-model="company.bank.name" placeholder="Название банка" required>
    </div>
  </div>
     
  <div class="form-group row">
    <label for="inputINN" class="col-md-2 control-label">БИК</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="inputINN" ng-pattern="company.digitOnly"
             ng-model="company.bank.bik" placeholder="БИК" ng-minlength="9" ng-maxlength="9" maxlength="9" required>
    </div>
  </div>
  
  <div class="form-group row">
    <label for="inputKPP" class="col-md-2 control-label">Корр. счет</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="inputKPP" ng-pattern="company.digitOnly"
      ng-model="company.bank.kor" placeholder="20 цифр" ng-minlength="20" ng-maxlength="20" maxlength="20" required>
    </div>
  </div>
  
  <div class="form-group row">
    <label for="inputTel" class="col-md-2 control-label">Расч. счет</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="inputTel" ng-pattern="company.digitOnly"
      ng-model="company.bank.rasch" ng-minlength="20" ng-maxlength="20" maxlength="20" placeholder="20 цифр" required>
    </div>
  </div>
    
      </div>
      <div class="modal-footer">
         <button ng-disabled="accountForm.$invalid" ng-click="company.accountAdd(company.bank)" type="submit" class="btn btn-success" data-dismiss="modal">Сохранить</button>
         <button ng-click="company.accountCancel()" type="submit" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- /new account -->

  </div>
</div>

</div>