﻿<div ng-controller="CompanyListController as cmplist">
<div ng-click="cmplist.switchStatus()" class="alert alert-dismissible fade in"
     ng-class="cmplist.error ? 'alert-danger' : 'alert-success'" role="alert" ng-show="cmplist.status">
   <strong>{{cmplist.message}}</strong>
</div>
<h3>Компании:</h3>
<hr>
<div class="pull-xs-left"><a href data-toggle="modal" data-target="#addCompany"
ng-click="(cmplist.newcompany = cmplist.newcompany) ? company.error : (cmplist.newcompany = {})" title="Add new company">
<i class="fa fa-plus"></i> Добавить</a></div>
<div class="pull-xs-right"><input class="form-control" ng-model="searchText" placeholder="Фильтр"></div>
<table class="table table-sm">
   <thead>
    <tr class="table-active">
      <th>Название компании</th>
      <th>Руководитель</th>
      <th>Телефон</th>
      <th>ИНН</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <tr ng-repeat="company in cmplist.companies | orderBy:'id' | filter: searchText">
    <th scope="row"><a href="/#/companies/{{company.id}}" title="edit">{{company.name}}</a></th>
    <td>{{company.boss}}</td>
    <td>{{company.tel}}</td>
    <td>{{company.inn}}</td>
    <td><div confirm-delete on-confirm="cmplist.companyDelete(company.id)"></div></td>
  </tr>
  </tbody>
</table>

<!-- add new company form -->
<div class="modal fade in" id="addCompany" tabindex="-1" role="dialog" aria-labelledby="addCompanyLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form name="companyForm" novalidate>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Новая компания: {{cmplist.newcompany.name}}</h4>
      </div>
      <div class="modal-body">
         
     <div class="form-group row">
    <label for="inputName" class="col-md-4 control-label">Название компании</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="inputName" ng-model="cmplist.newcompany.name" placeholder="Название компании" required>
    </div>
  </div>
     
  <div class="form-group row">
    <label for="inputINN" class="col-md-4 control-label">ИНН</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="inputINN" ng-pattern="cmplist.digitOnly"
             ng-model="cmplist.newcompany.inn" placeholder="10 или 12 цифр" ng-minlength="10" ng-maxlength="12" maxlength="12" required>
    </div>
  </div>
  
  <div class="form-group row">
    <label for="inputKPP" class="col-md-4 control-label">КПП</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="inputKPP" ng-pattern="cmplist.digitOnly"
             ng-model="cmplist.newcompany.kpp" ng-minlength="9" ng-maxlength="9"  placeholder="9 цифр" maxlength="9">
    </div>
  </div>
  
  <div class="form-group row">
    <label for="inputTel" class="col-md-4 control-label">Телефон</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="inputTel"
             ng-model="cmplist.newcompany.tel" ng-pattern="cmplist.digitOnly" ng-maxlength="11" maxlength="11"
             placeholder="11 цифр с кодом страны" required>
    </div>
  </div>
    
  <div class="form-group row">
    <label for="inputPosition" class="col-md-4 control-label">Должность подписанта договора</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="inputPosition" ng-model="cmplist.newcompany.contract_position" placeholder="должность" required>
    </div>
  </div>
  
   <div class="form-group row">
    <label for="inputContractSign" class="col-md-4 control-label">Подписант договора</label>
    <div class="col-md-6">
      <input type="text"  ng-model='cmplist.newcompany.contract_sign' id="inputContractSign" class="form-control" placeholder="Ф.И.О" required>
    </div>
     
  </div>
   
   <div class="form-group row">
    <label for="Boss" class="col-md-4 control-label">Руководитель</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="Boss" ng-model="cmplist.newcompany.boss" placeholder="Ф.И.О руководителя" required>
    </div>
  </div>   
   
      </div>
      
      <div class="modal-footer">
         <button ng-disabled="companyForm.$invalid" ng-click="cmplist.companyAdd(cmplist.newcompany)" type="submit" class="btn btn-success" data-dismiss="modal">Сохранить</button>
         <button ng-click="cmplist.companyCancel()" type="submit" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
      </div>
      </form>
    </div>
  </div>
</div>

</div><!-- /div container -->
