﻿<div ng-controller="ContractDetailController as contract">
  <div ng-click="contract.switchStatus()" class="alert alert-dismissible fade in"
       ng-class="contract.error ? 'alert-danger' : 'alert-success'" role="alert" ng-show="contract.status">
   <strong>{{contract.message}}</strong>
</div>
<h3>Договор: {{contract.contract.name}}</h3>
<hr>
<ul class="nav nav-pills">
  <li class="nav-item">
    <a href ng-click="contract.selectTab(1)"  class="nav-link"  ng-class="{ active:contract.isSelected(1) }">Общие данные</a>
  </li>
  <li class="nav-item">
    <a href ng-click="contract.selectTab(2)"  class="nav-link"  ng-class="{ active:contract.isSelected(2) }">Привязанные произведения</a>
  </li>
</ul>

<!-- Tab panes -->
<div>
<hr>
<div ng-show="contract.tab === 1">
<form name="contractForm" novalidate>
  
   <div class="form-group row">
    <label for="inputName" class="col-md-4 control-label">Номер договора</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="inputName" ng-model="contract.contract.name" placeholder="Номер договора" maxlength="20" required>
    </div>
  </div>
     
  <div class="form-group row">
    <label for="inputINN" class="col-md-4 control-label">Дата подписания:</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="inputDateSign" ng-model="contract.contract.date_sign" required>
    </div>
  </div>
  
  <div class="form-group row">
    <label for="inputKPP" class="col-md-4 control-label">Дата окончания:</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="inputDateEnd" ng-model="contract.contract.date_end" required>
    </div>
  </div>
  
  <div class="form-group row">
    <label for="inputTel" class="col-md-4 control-label">Автопролонгирование:</label>
    <div class="col-md-6">
      <input type="checkbox" class="form-control" id="inputTel" ng-click="contract.contractAutoLong(contract.contract.auto_long)" ng-checked="auto_long = contract.contract.auto_long"  ng-model="contract.contract.auto_long">
    </div>
  </div>
 
   <div class="form-group row">
    <label for="inputKPP" class="col-md-4 control-label">Должность подписанта:</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="inputSignPos" ng-model="contract.contract.sign_position" maxlength="50" required>
    </div>
  </div>
   
  <div class="form-group row">
    <label for="inputKPP" class="col-md-4 control-label">Подписант договора:</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="inputFIO" ng-model="contract.contract.sign_fio" maxlength="99" required>
    </div>
  </div>
  
   <div class="form-group row">
    <label for="inputCompany" class="col-md-4 control-label">Счет</label>
    <div class="col-md-6">
      <select class="form-control" id="inputAccount"
              ng-model="contract.contract.bank_id"  ng-options="bank.id as bank.name for bank in  contract.banks" required>
      </select>
    </div>
  </div>
  
  <div class="modal-footer">
         <button ng-disabled="contractForm.$invalid" ng-click="contract.contractUpdate(contract.contract)" type="submit" class="btn btn-secondary" data-dismiss="modal">Сохранить</button>
         <button ng-click="contract.contractCancel()" type="submit" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
  </div>
  
</form>
</div>
  
<div ng-show="contract.tab === 2">
<div class="pull-xs-left"><a href="#"><i class="fa fa-plus"></i> Добавить</a></div>
<div class="pull-xs-right"><input class="form-control" ng-model="searchText" placeholder="Фильтр"></div>
<div>
<ul>
  <li>1</li>
  <li>2</li>
  <li>3</li>
</ul>
</div>
</div>

</div>

</div>
