<div ng-controller="ContractListController as cntlist">

    <div ng-click="cntlist.switchStatus()" class="alert alert-dismissible fade in"
         ng-class="cntist.error ? 'alert-danger' : 'alert-success'" role="alert" ng-show="cntlist.status">
       <strong>{{cntlist.message}}</strong>
    </div>

    <h3>Контракты:</h3>
    <hr>

    <div class="pull-xs-right"><input class="form-control" ng-model="searchText" placeholder="Фильтр"></div>

    <table class="table table-sm">
       <thead>
        <tr class="table-active">
          <th>Компания</th>
          <th>Договор</th>
          <th>Дата подписания</th>
          <th>Дата окончания</th>
          <th>Подписант</th>
        </tr>
      </thead>
      <tbody>
      <tr ng-repeat="contract in cntlist.contracts | orderBy:'id' | filter: searchText">
        <th scope="row"><a href="/#/companies/{{contract.company_id}}" title="edit">{{contract.company_name}}</a></th>
        <td><a href="/#/contracts/{{contract.company_id}}/{{contract.id}}">{{contract.name}}</td>
        <td>{{contract.date_sign}}</td>
        <td>{{contract.date_end}}</td>
        <td><div confirm-delete on-confirm="cntlist.contractDelete(contract.company_id, contract.id)"></div></td>
      </tr>
      </tbody>
    </table>

    <nav>
      <ul class="pager">
        <li class="pager-prev"><a href ng-click="cntlist.getPage(false)" ng-show="cntlist.page > 1">Назад</a></li>
        <li class="pager-next"><a href ng-click="cntlist.getPage(true)" ng-show="cntlist.contracts.length > 0">Вперед</a></li>
      </ul>
    </nav>

</div>
