﻿ <div class="deleteConfirmation">
    <div ng-hide="isDeleting" >
        <a href ng-click="startDelete()"><i class="fa fa-trash" aria-hidden="true"></i></a>
    </div>
    <div ng-show="isDeleting">
        <button type="button" class="btn btn-default btn-xs" ng-click="cancel()"><i class="fa fa-ban" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-danger btn-xs"  ng-click="confirm()"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
    </div>
</div>