﻿<div ng-controller="ImportListController as impctrl">
<h3>Файлы к загрузке в БД</h3>
<hr>
<div id="kv-error-1" style="margin-top:10px;display:none"></div>
<div id="kv-success-1" class="alert alert-success fade in" style="margin-top:10px;display:none"></div>
<input id="input-709" name="data_file" type="file" multiple class="file-loading">

<table class="table table-sm">
   <thead>
    <tr class="table-active">
      <th>#</th>
      <th>Имя файла</th>
      <th>Дата загрузки</th>
      <th>Статус</th>
      <th>Обработать</th>
      <th>Удалить</th>
    </tr>
  </thead>
  <tbody>
  <tr ng-repeat="file in impctrl.filelist | orderBy:'-name' | filter: searchText">
   <td>{{file.id}}</td>
    <th scope="row"><a href data-toggle="modal" data-target="#showImportLog" ng-click="impctrl.showModal(file.id)">{{file.filename}}</a></th>
    <td>{{file.date}}</td>
    <td>{{file.status}}</td>
    <td ng-show="file.status == 'new'"><a href ng-click="impctrl.fileProcess(file.id)" title="Запустить парсинг файла в БД"><i class="fa fa-play"></i></a></td>
    <td ng-show="file.status == 'init'"><a title="Проверка файла и внесение во временную таблицу"><i class="fa fa-spinner"></i></a></td>
    <td ng-show="file.status == 'pars'"><a title="Группировка данных"><i class="fa fa-sort-amount-desc"></i></a></td>
    <td ng-show="file.status == 'grup'">
            <a href ng-click="impctrl.reqApi(file.id)" title="Запустить опрос Youtube API">
                <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
    </td>
    <td ng-show="file.status == 'api'">
        <a href ><i class="fa fa-line-chart" aria-hidden="true" title="Идет опрос API..."></i></a>
        <div class="text-xs-center" id="progressbar-{{file.id}}" ng-model="impctrl.progressBar[file.id]" >
            {{ impctrl.progressBar[file.id] }}% 
            <a href="#/mel/1?file_id={{file.id}}" target="_blank">Лог</a>
        </div>
        <progress 
            class="progress" 
            ng-model="impctrl.progressBar[file.id]" 
            value="{{ impctrl.progressBar[file.id] }}" 
            max="100"
            aria-describedby="progressbar-{{file.id}}"
            >
        </progress>
    </td>
    <td ng-show="file.status == 'done'"><a href><i class="fa fa-check" aria-hidden="true" title="Задание выполнено"></i></a></td>
    <td ng-show="file.status == 'work'"><a href><i class="fa fa-tasks" aria-hidden="true" title="Задание поставлено в очередь"></i></a></td>
    <td ng-switch="file.status">
      <div ng-switch-when="new" confirm-delete on-confirm="impctrl.fileDelete(file.id)"></div>
      <div ng-switch-when="done" confirm-delete on-confirm="impctrl.fileDelete(file.id)"></div>
    </td>
  </tr>
  </tbody>
</table>
<!-- modal window for showImportLog -->
<div class="modal fade" id="showImportLog" tabindex="-1" role="dialog" aria-labelledby="showImportLogLabel" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form name="showImportLogForm">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title ng-binding" id="myModalLabel">Информация по импорту: {{impctrl.file_id}}</h4>
      </div>
      <div ng-if="impctrl.loading">
      <img src="/img/loader.gif">
     </div>
      <div class="modal-body">
     <div class="form-group row">
    <label for="inputName" class="col-md-6 control-label">Количество произведений в импорте:</label>
    <div class="col-md-3">
      <input type="text" class="form-control" ng-model="impctrl.statlist.total" readonly>
    </div>
  </div>
     
  <div class="form-group row">
    <label for="inputINN" class="col-md-6 control-label">Успешно обработано по API:</label>
    <div class="col-md-3">
      <input type="text" class="form-control"
             ng-model="impctrl.statlist.ready" readonly>
    </div>
  </div>
  
  <div class="form-group row">
    <label for="inputKPP" class="col-md-6 control-label">Обработано с ошибками:</label>
    <div class="col-md-3">
      <input type="text" class="form-control" ng-model="impctrl.statlist.errors" readonly>
    </div>
  </div> 
      </div>
      
      <div class="modal-footer">
         <button ng-click="cmplist.companyCancel()" type="submit" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
      </form>
    </div>
  </div>
</div>

<script>
$("#input-709").fileinput({
    uploadUrl: "/api/import/file/save", // server upload action
    uploadAsync: true,
    showPreview: false,
    allowedFileExtensions: ['zip'],
    maxFileCount: 1,
    elErrorContainer: '#kv-error-1',
    language: 'ru',
}).on('filebatchpreupload', function(event, data, id, index) {
    $('#kv-success-1').html('<h4>Upload Status</h4><ul></ul>').hide();
}).on('fileuploaded', function(event, data, id, index) {
   //location.href(
   window.location.replace('/#/import/' + Math.random().toString(10));
});
</script>
</div>


