<div ng-controller="MelController as logs">
<h3>Лог ошибок парсинга</h3>
<hr>
<div class="pull-xs-right">
<input class="form-control" ng-model="searchText" ng-change="logs.searchBy(searchText)" placeholder="Фильтр"></div>
<table class="table table-sm">
   <thead class="thead-inverse">
    <tr>
      <th>Video_ID</th>
      <th>File_id</th>
      <th>Errors</th>
    </tr>
  </thead>
  <tbody>
  <tr ng-repeat="line in logs.list | orderBy:'-file_id' | filter: searchText" ng-class="{ 'table-danger':line.failure }">
    <th scope="row">{{line.Video_ID}}</th>
    <td>{{line.file_id}}</td>
    <td>{{line.errors}}</td>
  </tr>
  <tr ng-if="logs.list.length == 0">
    <td colspan="3" >
        <center>
            <h4>
                Ошибок нет
            </h4>
        </center>
    </td>
  </tr>
  </tbody>
</table>

<nav aria-label="pagging">
  <ul class="pagination pagination-sm">
      
    <li ng-show="logs.curPage != 1" class="page-item">
      <a class="page-link" href="/#/mel/1" aria-label="Previous" >
        <span aria-hidden="true">|&laquo;</span>
        <span class="sr-only">На первую</span>
      </a>
    </li>
    
    <li ng-show="logs.curPage > 10" class="page-item">
      <a class="page-link" href="/#/mel/{{logs.curPage - 10}}" aria-label="Previous" >
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Назад</span>
      </a>
    </li>
    
    <li ng-show="logs.curPage != 1" class="page-item">
      <a class="page-link" href="/#/mel/{{logs.curPage - 1}}" aria-label="Previous" >
        <span aria-hidden="true">{{logs.curPage - 1}}</span>
        <span class="sr-only">Назад</span>
      </a>
    </li>
    
    <li class="page-item active">
        <a class="page-link" href="/#/mel/{{logs.curPage}}">{{logs.curPage}}</a>
    </li>
    
    
    <li ng-show="logs.curPage != logs.pages.length" class="page-item">
      <a class="page-link" href="/#/mel/{{logs.curPage - 0 + 1}}" aria-label="Next" >
        <span aria-hidden="true">{{logs.curPage - 0 + 1}}</span>
        <span class="sr-only">Вперед</span>
      </a>
    </li>
    
    <li ng-show="logs.curPage < logs.pages.length - 10 " class="page-item">
      <a class="page-link" href="/#/mel/{{logs.curPage - 0 + 10 }}" aria-label="Next" >
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Вперед</span>
      </a>
    </li>
    
    <li ng-show="logs.curPage != logs.pages.length" class="page-item">
      <a class="page-link" href="/#/mel/{{logs.pages.length}}" aria-label="Next" >
        <span aria-hidden="true">&raquo;|</span>
        <span class="sr-only">На последнюю</span>
      </a>
    </li>
    
  </ul>
</nav>

</div>
