<div ng-controller="MoviesListController as movctrl">
<h3>Произведения</h3>
<hr>
<div class="pull-xs-left">
    <strong>Общее Количество произведений: {{movctrl.total}}</strong>
</div>
  
<div class="pull-xs-right">
<input class="form-control" ng-model="searchText" ng-change="movctrl.searchBy(searchText)" placeholder="Фильтр">
</div>
<table class="table table-sm">
   <thead>
    <tr class="table-active">
      <th>
          <a ng-model="movctrl.orderDirection" 
             href="/#/movies/{{movctrl.curPage}}/?order=Video_Name&order_direction={{ movctrl.orderDirection }}"
          >
            Название&nbsp;видео
          </a>
      </th>
      <th>
          <a ng-model="movctrl.orderDirection" 
             href="/#/movies/{{movctrl.curPage}}/?order=Video_ID&order_direction={{ movctrl.orderDirection }}"
            >
            Идентификатор&nbsp;видео
          </a>
      </th>
      <th>
          <a ng-model="movctrl.orderDirection" 
             href="/#/movies/{{movctrl.curPage}}/?order=channelname&order_direction={{ movctrl.orderDirection }}"
            >
            Название&nbsp;канала
          </a>
      </th>
      <th>
          <a ng-model="movctrl.orderDirection" 
             href="/#/movies/{{movctrl.curPage}}/?order=Total_Views&order_direction={{ movctrl.orderDirection }}"
            >
          Количество&nbsp;просмотров
         </a>
      </th>
    </tr>
  </thead>
  <tbody>
  <tr ng-repeat="movie in movctrl.movies | orderBy: movctrl.moviesOrderString | filter: searchText" ng-model="movctrl.moviesOrderString">
    <td>{{movie.Video_Name}}</th>
    <td>{{movie.Video_ID}}</td>
    <td>{{movie.channelname}}</td>
    <td>{{movie.Total_Views}}</td>
  </tr>
  </tbody>
</table>

<nav aria-label="pagging">
  <ul class="pagination pagination-sm">
    
    <li ng-show="movctrl.curPage != 1" class="page-item">
      <a class="page-link" href="/#/movies/1" aria-label="Previous" >
        <span aria-hidden="true">|&laquo;</span>
        <span class="sr-only">На первую</span>
      </a>
    </li>
    
    <li ng-show="movctrl.curPage > 10" class="page-item">
      <a class="page-link" href="/#/movies/{{movctrl.curPage - 10}}" aria-label="Previous" >
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Назад</span>
      </a>
    </li>
    
    <li ng-show="movctrl.curPage != 1" class="page-item">
      <a class="page-link" href="/#/movies/{{movctrl.curPage - 1}}" aria-label="Previous" >
        <span aria-hidden="true">{{movctrl.curPage - 1}}</span>
        <span class="sr-only">Назад</span>
      </a>
    </li>
    
    <li class="page-item active">
        <a class="page-link" href="/#/movies/{{movctrl.curPage}}">{{movctrl.curPage}}</a>
    </li>
    
    
    <li ng-show="movctrl.curPage != movctrl.pages.length" class="page-item">
      <a class="page-link" href="/#/movies/{{movctrl.curPage - 0 + 1}}" aria-label="Next" >
        <span aria-hidden="true">{{movctrl.curPage - 0 + 1}}</span>
        <span class="sr-only">Вперед</span>
      </a>
    </li>
    
    <li ng-show="movctrl.curPage < movctrl.pages.length - 10 " class="page-item">
      <a class="page-link" href="/#/movies/{{movctrl.curPage - 0 + 10 }}" aria-label="Next" >
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Вперед</span>
      </a>
    </li>
    
    <li ng-show="movctrl.curPage != movctrl.pages.length" class="page-item">
      <a class="page-link" href="/#/movies/{{movctrl.pages.length}}" aria-label="Next" >
        <span aria-hidden="true">&raquo;|</span>
        <span class="sr-only">На последнюю</span>
      </a>
    </li>
    
    <li class="page-item" ng-model="movctrl.showLoader" ng-show="movctrl.showLoader">
        <img src="/img/loader.gif">
    </li>
    
  </ul>
</nav>

</div>


