﻿<div ng-controller="ObjectsAddNewController as objctrl">

    <div class="container">
      <form name="objectForm" novalidate>
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Объект: {{objctrl.current.name}}</h4>
      </div>
      <div class="modal-body">

 <div class="row">
  <div class="col-md-6">
    <label for="inputName" class="col-md-2 control-label">Название</label>
    <div class="input-group col-md-10">
      <input type="text" class="form-control" placeholder="Название..." ng-model="objctrl.current.name" required="required">
    </div>
  </div>
  <div class="col-md-6">
    <div class="input-group col-md-10">
      <input type="text" class="form-control" placeholder="Поиск произведений..." ng-model="objctrl.current.filter">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" ng-click="objctrl.findMovies()">Искать!</button>
      </span>
    </div>
  </div>
</div>
 <div style="margin-top: 10px;">
<table class="table table-sm">
   <thead>
    <tr class="table-active">
      <th>ID</th>
      <th>Название произведения</th>
      <th>Video ID</th>
      <th>Название канала</th>
      <th>Объект</th>
    </tr>
  </thead>
  <tbody>
  <tr ng-if="objctrl.loading"><td colspan="5" style="text-align: center;"><img src="/img/loader.gif"></td></tr>  
  <tr ng-repeat="row in objctrl.table">
     <td scope="row"><input type="checkbox" ng-click="objctrl.addToObject(row.id)" ng-checked="row.object_id"></td>
     <td><a href="https://www.youtube.com/watch?v={{row.video_id}}" target="_blank">{{row.video_name}}</a></td>
     <td>{{row.video_id}}</td>
     <td>{{row.channel_name}}</td>
     <td>{{row.object_name}}</td>
  </tr>
  </tbody>
</table>
</div>
  <div class="form-group row">
    <label for="inputCompany" class="col-md-2 control-label">Договора (компании)</label>
    <div class="col-md-6">
      <select class="form-control" id="inputCompany"
              ng-model="objctrl.current.contract_id"  ng-options="contract.id as contract.name for contract in  objctrl.contracts">
      </select>
    </div>
  </div>
   
      </div>
      <div class="modal-footer">
         <button ng-disabled="objectForm.$invalid" ng-click="objctrl.objectAdd(objctrl.current)" type="submit" class="btn btn-success" data-dismiss="modal">Привязать выбранные произведения к объекту</button>
         <button ng-click="objctrl.objectCancel()" type="submit" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
      </div>
      </form>
    </div>

</div>