﻿<div ng-controller="ObjectsController as objctrl">
  <div class="alert alert-dismissible fade in"
     ng-class="objctrl.error ? 'alert-danger' : 'alert-success'" role="alert" ng-show="objctrl.status">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
   <strong>{{objctrl.message}}</strong>
</div>
<div style="margin-bottom: 20px;">
  <h3>Список объектов</h3>
</div>
<div class="container">
<div class="pull-xs-left" style="margin-bottom: 20px;">
   <a href ng-click="objctrl.addObject()" title="Add new object">
      <i class="fa fa-plus"></i> Добавить</a>
</div>

<table class="table table-sm">
   <thead>
    <tr class="table-active">
      <th>Название объекта</th>
      <th>Кол-во произведений</th>
      <th>Договор (правообладатель)</th>
      <th>Редактировать</th>
      <th>Удалить</th>
    </tr>
  </thead>
  <tbody>
  <tr ng-if="objctrl.loading"><td colspan="5" style="text-align: center;"><img src="/img/loader.gif"></td></tr>
  <tr ng-repeat="row in objctrl.table">
    <th scope="row">{{row.name}}</th>
    <td>{{row.total}}</td>
    <td>{{row.contract_name}}</td>
    <td><a href ng-click="objctrl.addObject(row)">
    <i class="fa fa-edit"></i></a></td>
     <td><div confirm-delete on-confirm="objctrl.objectDelete(row.id)"></div></td>
  </tr>
  </tbody>
</table>

<nav aria-label="pagging" ng-if="objctrl.pages > 30">
  <ul class="pagination pagination-sm">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Назад</span>
      </a>
    </li>
    
    <li ng-repeat = "page in objctrl.pages" ng-class = "page == objctrl.curPage ? 'active' : ''" class="page-item">
    <a class="page-link" href="/#/objects/{{page}}">{{page}}</a>
    </li>

    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Вперед</span>
      </a>
    </li>
  </ul>
</nav>

</div>

</div>

