﻿<div ng-controller="RatesListController as ratesctrl">
<h3>Курсы USD</h3>
<hr>
<div class="pull-xs-right">
<input class="form-control" ng-model="searchText" placeholder="Фильтр">
</div>
<table class="table table-sm">
   <thead>
    <tr class="table-active">
      <th>Дата</th>
      <th>Курс</th>
    </tr>
  </thead>
  <tbody>
  <tr ng-repeat="rate in ratesctrl.list | orderBy:'-date' | filter: searchText">
    <th scope="row">{{rate.date}}</th>
    <td>{{rate.rate}}</td>
  </tr>
  </tbody>
</table>

<nav aria-label="pagging">
  <ul class="pagination pagination-sm">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Назад</span>
      </a>
    </li>
    
    <li ng-repeat = "page in ratesctrl.pages" ng-class = "page == ratesctrl.curPage ? 'active' : ''" class="page-item">
    <a class="page-link" href="/#/rates/{{page}}">{{page}}</a>
    </li>

    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Вперед</span>
      </a>
    </li>
  </ul>
</nav>

</div>