﻿<div ng-controller="ReportsController as repctrl">
<div class="header">
  <h3>Просмотры и доход за период</h3>
</div>
<div class="container">
<form name="reportForm" novalidate>
  <div class="form-group row">
  <label for="owner" class="col-xs-2 col-form-label">Правообладатель</label>
  <div class="col-xs-6">
   <select class="form-control" id="owner"
              ng-model="repctrl.current.id"  ng-options="owner.id as owner.name for owner in  repctrl.owners">
   </select>
  </div>
</div>
<div class="form-group row">
  <label for="example-date-input" class="col-xs-2 col-form-label">Период</label>
  <div class="col-xs-2">
    <input class="form-control" type="date" ng-model="repctrl.current.from_date" id="from-date" name="from_date" required="required">
    <input class="form-control" type="date" ng-model="repctrl.current.to_date" id="to-date"  name="to_date" required="required">
  </div>
</div>

    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" ng-disabled="reportForm.$invalid" ng-click="repctrl.preformReport(repctrl.current)" class="btn btn-primary">Сформировать отчет</button>
      </div>
    </div>
  </form>
<table class="table table-sm" ng-show="repctrl.show">
   <thead>
    <tr class="table-active">
      <th>Название</th>
      <th>Кол-во просмотров</th>
      <th>Сумма вознаграждения</th>
    </tr>
  </thead>
  <tbody>
  <tr ng-if="repctrl.loading"><td colspan="5" style="text-align: center;"><img src="/img/loader.gif"></td></tr>
  <tr ng-repeat="row in repctrl.table.list">
    <th scope="row"><a href="https://www.youtube.com/watch?v={{row.video_id}}" target="_blank">{{row.video_name}}</a></th>
    <td>{{row.viewes}}</td>
    <td>{{row.total}}</td>
  </tr>
  </tbody>
  <tfoot>
    <tr class="table-warning" ng-if="!repctrl.loading">
      <td>ИТОГО:</td><td>{{repctrl.table.total.views}}</td><td>{{repctrl.table.total.sum}}</td>
    </tr>
    <tr ng-if="!repctrl.loading">
      <td colspan="4" style="text-align: right"><a href="/api/reports/download_pdf/report1.pdf" target="_blank" class="btn btn-primary btn-xs" role="button" aria-disabled="true">Скачать в PDF формат 1</a>
      <a href="/api/reports/download_pdf/report2.pdf"  target="_blank" class="btn btn-primary btn-xs" role="button" aria-disabled="true">Скачать в PDF формат 2</a>
      </td>
    </tr>
  </tfoot>
</table>
</div>

</div>

