﻿<div ng-controller="UserListController as userlist">
<div ng-click="userlist.switchStatus()" class="alert alert-dismissible fade in"
     ng-class="cmplist.error ? 'alert-danger' : 'alert-success'" role="alert" ng-show="userlist.status">
   <strong>{{userlist.message}}</strong>
</div>
<h3>Пользователи</h3>
<hr>
<div class="pull-xs-left">
   <a href data-toggle="modal" ng-click="userlist.current = {}" data-target="#addUser" title="Add new user">
      <i class="fa fa-plus"></i> Добавить</a></div>
<div class="pull-xs-right">
<input class="form-control" ng-model="searchText" placeholder="Фильтр">
</div>
<table class="table table-sm">
   <thead>
    <tr class="table-active">
      <th>Логин</th>
      <th>ФИО</th>
      <th>Компания</th>
      <th>Роль</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <tr ng-repeat="user in userlist.users | orderBy:'id' | filter: searchText">
    <th scope="row">{{user.email}}</th>
    <td>{{user.lastname}} {{user.firstname}} {{user.surname}}</td>
    <td>{{user.name}}</td>
    <td>{{user.role}}</td>
    <td><a href ng-click="userlist.current = user" data-toggle="modal" data-target="#editUser">
    <i class="fa fa-edit"></i></a></td>
    <td><div confirm-delete on-confirm="userlist.userDelete(user.id)"></div></td>
  </tr>
  </tbody>
</table>

<div ng-show="userlist.current.id" class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="editUserLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form name="userForm" novalidate>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Редактируем пользователя {{userlist.current.firstname}}</h4>
      </div>
      <div class="modal-body">
     <div class="form-group row">
    <label for="inputFN" class="col-md-4 control-label">Имя</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="inputFN" ng-model="userlist.current.firstname" placeholder="first name" required>
    </div>
  </div>
     
  <div class="form-group row">
    <label for="inputLN" class="col-md-4 control-label">Фамилия</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="inputLN" ng-model="userlist.current.lastname" placeholder="last name" required>
    </div>
  </div>
  
  <div class="form-group row">
    <label for="inputSN" class="col-md-4 control-label">Отчество</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="inputSN" ng-model="userlist.current.surname" placeholder="surname">
    </div>
  </div>
  
  <div class="form-group row">
    <label for="inputEmail" class="col-md-4 control-label">Email</label>
    <div class="col-md-6">
      <input type="email" class="form-control" id="inputEmail" ng-model="userlist.current.email" placeholder="Email" required>
    </div>
  </div>
    
  <div class="form-group row">
    <label for="inputPassword" class="col-md-4 control-label">Пароль</label>
    <div class="col-md-6">
      <input type="password" class="form-control" id="inputPassword" ng-model="userlist.current.password" placeholder="Password" required>
    </div>
  </div>

   <div class="form-group row">
    <label for="inputRole" class="col-md-4 control-label">Роль</label>
    <div class="col-md-6">
      <select class="form-control" id="inputRole" name="role" ng-model="userlist.current.role" required>
        <option value="admin">Администратор</option>
        <option value="co-manager">Контент-менеджер</option>
        <option value="partner">Партнер-менеджер</option>
        <option value="rholder">Правообладатель</option>
      </select>
    </div>
  </div>
   
  <div class="form-group row">
    <label for="inputCompany" class="col-md-4 control-label">Компания</label>
    <div class="col-md-6">
      <select class="form-control" id="inputCompany"
              ng-model="userlist.current.company_id"  ng-options="company.id as company.name for company in  userlist.companies">
      </select>
    </div>
  </div>
   
   <div class="form-group row">
    <label for="ipAllow" class="col-md-4 control-label">Разрешенный IP</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="ipAllow" ng-pattern="userlist.checkIP"
      ng-model="userlist.current.allow_ip" placeholder="127.0.0.1" required>
    </div>
  </div>   
      </div>
      <div class="modal-footer">
         <button ng-disabled="userForm.$invalid" ng-click="userlist.userUpdate(userlist.current)" type="submit" class="btn btn-secondary" data-dismiss="modal">Сохранить</button>
         <button ng-click="userlist.userCancel()" type="submit" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- add new user modal window -->

<div class="modal fade in" id="addUser" tabindex="-1" role="dialog" aria-labelledby="addUserLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form name="userForm" novalidate>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Новый пользователь: {{userlist.current.firstname}}</h4>
      </div>
      <div class="modal-body">
     <div class="form-group row">
    <label for="inputFN" class="col-md-4 control-label">Имя</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="inputFN" ng-model="userlist.current.firstname" placeholder="first name" required>
    </div>
  </div>
     
  <div class="form-group row">
    <label for="inputLN" class="col-md-4 control-label">Фамилия</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="inputLN" ng-model="userlist.current.lastname" placeholder="last name" required>
    </div>
  </div>
  
  <div class="form-group row">
    <label for="inputSN" class="col-md-4 control-label">Отчество</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="inputSN" ng-model="userlist.current.surname" placeholder="surname">
    </div>
  </div>
  
  <div class="form-group row">
    <label for="inputEmail" class="col-md-4 control-label">Email</label>
    <div class="col-md-6">
      <input type="email" class="form-control" id="inputEmail" ng-model="userlist.current.email" placeholder="Email" required>
    </div>
  </div>
    
  <div class="form-group row">
    <label for="inputPassword" class="col-md-4 control-label">Пароль</label>
    <div class="col-md-6">
      <input type="password" class="form-control" id="inputPassword" ng-model="userlist.current.password" placeholder="Password" required>
    </div>
  </div>

   <div class="form-group row">
    <label for="inputRole" class="col-md-4 control-label">Роль</label>
    <div class="col-md-6">
      <select class="form-control" id="inputRole" name="role" ng-model="userlist.current.role" required>
        <option value="admin">Администратор</option>
        <option value="co-manager">Контент-менеджер</option>
        <option value="partner">Партнер-менеджер</option>
        <option value="rholder">Правообладатель</option>
      </select>
    </div>
  </div>
   
  <div class="form-group row">
    <label for="inputCompany" class="col-md-4 control-label">Компания</label>
    <div class="col-md-6">
      <select class="form-control" id="inputCompany"
              ng-model="userlist.current.company_id"  ng-options="company.id as company.name for company in  userlist.companies">
      </select>
    </div>
  </div>
   
   <div class="form-group row">
    <label for="ipAllow" class="col-md-4 control-label">Разрешенный IP</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="ipAllow"  ng-pattern="userlist.checkIP"
      ng-model="userlist.current.allow_ip" placeholder="127.0.0.1" required>
    </div>
  </div>   
      </div>
      <div class="modal-footer">
         <button ng-disabled="userForm.$invalid" ng-click="userlist.userAdd(userlist.current)" type="submit" class="btn btn-success" data-dismiss="modal">Сохранить</button>
         <button ng-click="userlist.userCancel()" type="submit" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- / add new user form -->
</div> <!-- /controller -->
